global:
    scrape_interval:  15s
    evaluation_interval: 15s
  
 # rule_files:
    # - "first.rules"
    # - "second.rules"
  
scrape_configs:
  - job_name: prometheus
    metrics_path: /metrics
    static_configs:
      - targets: ['prometheus:9090']
  - job_name: nginx
    metrics_path: /
    static_configs:
      - targets: ['host.docker.internal:8080']